/approvals/migrations/
/clients/migrations/
/core/migrations/
/projects/migrations/
/tags/migrations/
/tasks/migrations/
/time_entries/migrations/
/time_off/migrations/
/users/migrations/
/workspaces/migrations/
/.venv/
/reports/migrations/
/organization_asset/migrations/
/static/
/staticfiles/
/static/
/.env
